
# Misc Files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates
.gitignore
.curseclient
.qmenu-opened.marker
minecraftinstance.json
options.txt
patchouli_data.json
rhino.local.properties
server.dat
server.dat_old
usercache.json
usernamecache.json
.vscode/probe.class-definitions.json
.vscode/probe.code-snippets
.vscode/probe.doc-schema.json
.vscode/probe.lang_key-definitions.json
.vscode/probe.lang-schema.json
.vscode/probe.registry-definitions.json


# Folders
/crash-reports
/fancymenu_data
/journeymap
/local
/logs
/mods
/otyacraftengine
/citadel
/downloads
/fancymenu_setups
/lightspeed-cache
/localconfigs
/patchouli_books
/resourcepacks
/saves
/schematics
/screenshots
/shaderpacks
/showdown
/showdown-backups
/immersive_paintings_cache
